@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-bg: #0B0470;
  --sidebar-header-bg: #4100B4;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Apply Poppins directly */
}